<form [formGroup]="formGroup">
<quno-vertical-stepper linear>
  <ng-container *ngFor="let question of questions; let i = index">
  <quno-step [stepControl]="formGroup.get(question.field)">
    <div class="quno-step-content-wrapper">
      <div class="quno-lens quno-lens--absolute">
        <img src="../assets/quno_lens.png" (click)="selectStep(i)">
      </div>
      <div class="quno-question" #step1>
        <p>{{question.question}}</p>
      </div>
      <div class="quno-answers" (click)="handleClick($event)">
        <div class="user"></div>
        <label class="btn-answer" *ngFor="let answer of question.answers"><input type="radio" value="answer" [formControlName]="question.field"><span>{{answer}}</span></label>
      </div>
    </div>
    <button type="button" #btnNext qunoStepperNext style="display:none">NEXT</button>
  </quno-step>
  </ng-container>
</quno-vertical-stepper>
</form>

<p>{{formGroup.value | json}}</p>
<p>Valid? - {{formGroup.valid}}</p>