<app-header></app-header>
<app-banner></app-banner>
<!--

<app-container [questions]="questions">
  <ng-container *ngFor="let question of questions; index as i">
      <app-step  *ngIf="question.shouldBeVisible" [question]="question"></app-step>
      <button (click)="changeVisibility(i)">CHANGE ME </button>
      <hr>
  </ng-container>
</app-container>

-->

<quno-vertical-stepper>
  <quno-step label="Step 1">
    Content for step 1
    <div>
      <button type="button" qunoStepperNext>NEXT</button>
    </div>
  </quno-step>
  <quno-step label="Step 2">
    Content for step 2
    <div>
      <button type="button" qunoStepperNext>NEXT</button>
      <button type="button" qunoStepperPrevious>PREVIOUS</button>
    </div>
  </quno-step>
  <quno-step label="Step 3">
    Content for step 3
    <div>
      <button>SUBMIT</button>
      <button type="button" qunoStepperPrevious>PREVIOUS</button>
    </div>
  </quno-step>
</quno-vertical-stepper>
