<app-header></app-header>
<app-banner></app-banner>
<!--

<app-container [questions]="questions">
  <ng-container *ngFor="let question of questions; index as i">
      <app-step  *ngIf="question.shouldBeVisible" [question]="question"></app-step>
      <button (click)="changeVisibility(i)">CHANGE ME </button>
      <hr>
  </ng-container>
</app-container>

-->

<style>
  :host /deep/ .quno-step-label{
    background: #FFCA57;
    color: #585a51;
  }
  :host /deep/ .quno-step-label img {
    width: 64px;
    height: 64px;
  }
</style>

<quno-vertical-stepper>
  <quno-step>
    <ng-template qunoStepLabel>
      <img src="../assets/circle.png">
      <h3>This would pretty much be a question</h3>
    </ng-template>
    Content for step 1
    <div>
      <button type="button" qunoStepperNext>NEXT</button>
    </div>
  </quno-step>
  <quno-step label="Step 2">
    Content for step 2
    <div>
      <button type="button" qunoStepperNext>NEXT</button>
      <button type="button" qunoStepperPrevious>PREVIOUS</button>
    </div>
  </quno-step>
  <quno-step label="Step 3">
    Content for step 3
    <div>
      <button>SUBMIT</button>
      <button type="button" qunoStepperPrevious>PREVIOUS</button>
    </div>
  </quno-step>
</quno-vertical-stepper>
