<div class="quno-step" *ngFor="let step of _steps; let i = index; let isLast = last">
  <quno-step-header
                    [@headerTransition]="_getAnimationDirection(i)"
                    class="quno-vertical-stepper-header"
                    (click)="step.select()"
                    (keydown)="_onKeydown($event)"
                    [tabindex]="_getFocusIndex() == i ? 0 : -1"
                    [id]="_getStepLabelId(i)"
                    [attr.aria-controls]="_getStepContentId(i)"
                    [attr.aria-selected]="selectedIndex === i"
                    [index]="i"
                    [state]="_getIndicatorType(i)"
                    [label]="step.stepLabel || step.label"
                    [selected]="selectedIndex === i"
                    [active]="step.completed || selectedIndex === i || !linear"
                    [optional]="step.optional"
                    [iconOverrides]="_iconOverrides">
    </quno-step-header>

    <!-- <div class="quno-vertical-content-container" [class.quno-stepper-vertical-line]="!isLast"> -->
    <div class="quno-vertical-content-container">
      <div class="quno-vertical-stepper-content"
           role="tabpanel"
           [@stepTransition]="_getAnimationDirection(i)"
           (@stepTransition.done)="_animationDone($event)"
           [id]="_getStepContentId(i)"
           [attr.aria-labelledby]="_getStepLabelId(i)"
           [attr.aria-expanded]="selectedIndex === i">
        <div class="quno-vertical-content">
          <ng-container [ngTemplateOutlet]="step.content"></ng-container>
        </div>
      </div>
    </div>
    <!-- <div *ngIf="selectedIndex !== i && step.completed" class="selected-answer"></div> -->
</div>
