<div class="quno-step-header-ripple" mat-ripple [matRippleTrigger]="_getHostElement()"></div>
<div class="quno-step-label"
  [class.quno-step-label-active]="active"
  [class.quno-step-label-selected]="selected">

  <!-- If there is a label template, use it-->
  <ng-container *ngIf="_templateLabel()" [ngTemplateOutlet]="_templateLabel()!.template"></ng-container>

  <!-- If there is no template label, fall back to the text label -->
  <div class="quno-step-text-label" *ngIf="_stringLabel()">{{label}}</div>

  <div class="quno-step-optional" *ngIf="optional">Optional</div>

</div>
<div [class.quno-step-icon]="state !== 'number' || selected"
     [class.quno-step-icon-not-touched]="state == 'number' && !selected"
     [ngSwitch]="state">

  <ng-container *ngSwitchCase="'number'" [ngSwitch]="!!(iconOverrides && iconOverrides.number)">

    <ng-container
      *ngSwitchCase="true"
      [ngTemplateOutlet]="iconOverrides.number"
      [ngTemplateOutletContext]="_getIconContext()">
    </ng-container>
    <span *ngSwitchDefault>{{index + 1}}</span>

  </ng-container>

  <ng-container *ngSwitchCase="'edit'" [ngSwitch]="!!(iconOverrides && iconOverrides.edit)">

    <ng-container
      *ngSwitchCase="true"
      [ngTemplateOutlet]="iconOverrides.edit"
      [ngTemplateOutletContext]="_getIconContext()"></ng-container>
    <mat-icon *ngSwitchDefault>create</mat-icon>
  </ng-container>

  <ng-container *ngSwitchCase="'done'" [ngSwitch]="!!(iconOverrides && iconOverrides.done)">
    <ng-container
      *ngSwitchCase="true"
      [ngTemplateOutlet]="iconOverrides.done"
      [ngTemplateOutletContext]="_getIconContext()"></ng-container>
    <mat-icon *ngSwitchDefault>done</mat-icon>
  </ng-container>

</div>
